body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(250, 250, 250);
}

input[type=text] {
    width: 200px;
    padding: 2px 4px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
    float: top;
}

input {
    display: block;
}

.formbox {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

.forms {
    width: 420px;
    padding: 8px;
    margin-top: 10px;

}

#feladas {
    background-color: rgb(250, 201, 110);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#atvetel {
    background-color: rgb(148, 148, 249);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.button {
    border: none;
    background-color: rgb(250, 201, 110);
    padding: 10px;
    margin-left: 60px;

}

.button:hover {
    box-shadow: 2px 3px rgb(86, 86, 86);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: rgb(250, 201, 110);
}

.button:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: rgb(255, 166, 0);
}

.insidecontainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.f {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: rgb(152, 219, 141);
    text-align: center;
    width: 420px;
}

h2 {
    font-size: 18px;
    text-decoration: none;
    padding: 0;
    margin-top: 0;
    text-align: center;

}

h3 {
    margin-top: 15px;
    margin-bottom: 0;

}

#outputTav{

    font-size: 16;
    text-align: left;
    padding-left: 31%;
    font-weight: bold;
    color: darkblue;
}

#outputAr{

    font-size: 16;
    text-align: left;
    padding-left: 31%;
    font-weight: bold;
    color: darkblue;
}